<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myproject.pfuinreal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListMateriUtama"
            android:label="Materi" />
        <activity
            android:name=".MateriFisikaDasar2Activity"
            android:label="Fisika Dasar 2" />
        <activity android:name=".ViewMateriActivity" />
        <activity
            android:name=".ListMateriYoutube"
            android:label="Video Materi" />
        <activity
            android:name=".ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".LatihanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewPanduanPraktikum" />
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PembahasanActivity"></activity>
    </application>

</manifest>